#meeting
  #agenda-item-details
    position: absolute
    right: 100%
    left: -100%

    top: 0
    bottom: 0
    @include transition('right left', 150ms, 'ease-in')
    overflow: hidden
    padding: $line-height/2
    padding-bottom: 0
    z-index: 1
    background-color: white

    &.active
      right: 0
      left: 0

    .chars-remaining
      position: relative
      top: -$line-height - 4px
      right: 5px
      font-size: $s-1

    .notes .textarea-and-button // padding on agenda-item-details div itself causes chrome problems when it scrolls and notes resizes
      padding-bottom: $line-height/2

    .creator
      height: 2 * $line-height
      margin-bottom: $line-height
      .avatar
        margin-top: 1px
        float: left
        margin-right: 6px
      .date
        font-size: $s-2
        color: #999

    &.mutable
      .edit, .destroy
        display: block

    .edit, .destroy
      display: none
      line-height: $line-height
      height: $line-height
      float: right
      font-size: $s-1
      border-color: white
      background: white
      margin-left: 6px
      color: #888
      word-spacing: -1px
      @include border-radius(2px)
      &:hover
        color: black
    .edit
      padding: 0 4px
      &:hover
        background: $pale-blue
    .destroy
      padding-left: 1px
      padding-right: 2px
      &:hover
        background: $pale-red

    form
      display: none

      textarea
        padding: $line-height / 2
        width: 100%
        min-height: 2 * $line-height
        margin-bottom: 0

      label
        font-size: $s-1
        display: block
        &.chars-remaining
          margin-bottom: $line-height
          float: right
        &[for='details']
          clear: right
          position: relative
          top: -1px

    .button
      float: right
      margin-left: $s-3
