// containers
#columns {
  width:  100%;
  height: 100%;
  position: relative;
  @include noSelect;
}
.column {
  height: 100%;
  position: absolute;
  overflow: hidden;

  &.last .columnView {
    border: none;
  }
}

// inherited by multiple column views
.columnView {
  height: 100%;
  padding: 0 15px;
  padding-top: 10px;
  border-right: 10px ridge $lightGray;
}
.columnHeader {
  height: 40px;
}
.columnBody {
  position: relative;
  width: 100%;
}
.columnLeft, .columnRight, .columnFull {
  height: 100%;
  position: absolute;
  overflow-x: hidden;
}
.columnLeft  {width: 49%; left: 0}
.columnRight {width: 49%; left: 51%;}
.columnFull  {
  width: 100%;
  left: 0;
  border: none !important;

  .recordDetails {
    padding: 0;
  }
}

.listContainer {
  background-color: $lightGray;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  @include innerShadow(5px, 0.25);
}

.recordsList {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.recordLi {
  position: relative;
  padding: 5px 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: white;
  cursor: pointer;
  @include dropShadow(3px, 0.25);

  &:hover {
    background-color: #f3f3ff;  
  }

  &.selected {
    background-color: #ddddff;

    .liIcon {
      background-image: url(/images/play_12x16_dark.png) !important;
    }
  }
}

.liBody {
  color: black;
}

.liIcon {
  width: 20px;
  height: 20px;
  float: right;
  background-repeat: no-repeat;
  background-position: center center;
}


.detailsContainer {
  border: 1px solid #ccc;
}
.recordDetails {
  padding: 10px;

  .body {
    margin-bottom: 10px;
  }
}
.creatorInfo {
  margin: 5px 0;
}
.avatar {
  float: left;
  margin-right: 5px;
  background-image: url("/images/mystery_man.jpeg");
}
.creatorName {
  font-size: 15px;
  margin-bottom: 2px;
}
.creationDate {
  color: #999999;
  font-size: 12px;
}
.childLinks {
  margin-top: 20px;
}
.childLink {
  padding: 10px 10px;
  margin: 10px 0;
  background-color: $lighterGray;
  cursor: pointer;
  font-size: 18px;

  &:hover {
    background-color: #f3f3ff;
  }

  &.selected {
    background-color: #ddddff;

    .childLinkIcon {
      background-image: url(/images/play_12x16_dark.png);
    }
  }
}
.childLinkIcon {
  width: 20px;
  height: 20px;
  float: right;
  background-repeat: no-repeat;
  background-position: center center;

  &.expandIcon {
    background-image: url(/images/play_12x16_light.png);
  }
}


// comment column view
.comments {
  @extend .columnView;
}
.commentsList {
  @extend .recordsList;
}
.comment {
  @extend .recordLi;
}


// election column view
.elections {
  @extend .columnView;
}
.electionsList {
  @extend .recordsList;
}
.electionDetails {
  @extend .recordDetails;
}
.election {
  @extend .recordLi
}


// candidates column view
.candidates {
  @extend .columnView;
}
.candidatesList {
  @extend .recordsList;
}
.candidateDetails {
  @extend .recordDetails;
}

.listLoading {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
//  background-image: url(/images/loading_arrows_large_white_bg.gif);
//  background-image: url(/images/loading_arrows_large_e6e6e6_bg.gif);
  background-image: url(/images/loading_arrows_large_gray_bg.gif);
}

.rankedCandidatesList {
  @extend .recordsList;
}
.dragTarget {
  width: 100%;
  position: relative;

  .dragTargetExplanation {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 40%;
  }
}

.separator {
  width: 100%;
  height: 28px;
  text-align: center;
  clear: both;
  color: white;

//  @include gradient(#555, 35%);
  @include glossyColor(#666);
  @include dropShadow(4px, 0.2);
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  .up, .down {
    display: inline-block;
    padding: 5px 10px;
    background-repeat: no-repeat;
  }

  .up {
    background-image: url("/images/arrow_up_white.png");
    background-position: left;
    padding-left: 20px
  }
  .down {
    background-image: url("/images/arrow_down_white.png");
    background-position: right;
    padding-right: 20px
  }
}


.candidate {
  @extend .recordLi;
}


.expandIcon {
  background-image: url(/images/play_12x16_light.png);
}

.rankedIcon {
  background-image: url(/images/check_12x10_light.png);

  &.expandIcon {
    @extend .expandIcon;
  }
}

.unrankIcon {
  background-image: url(/images/x_11x11_light.png);

  &:hover {
    cursor: pointer;
    background-image: url(/images/x_11x11_dark.png);
  }
}

.loadingIcon {
  background-image: url(/images/loading_arrows_light.gif);
}