#app {
  #columns {
    height: 100%;
    overflow: hidden;
    @include noSelect;
    background-color: #eee;

    .column {
      height: 100%;
      float: left;
      padding: 0 2%;
      margin-right: 0.5%;

      background-color: white;
      -moz-box-shadow: #c8c7c7 0px 1px 3px;
      -webkit-box-shadow: #c8c7c7 0px 1px 3px;
      border: 1px solid #ddd;

      &.last {
        margin-right: 0;
        border-right: none;
        float: right;
      }
    }

    .columnHeader {
      width: 100%;
      height: 8%;

      h2 {
        margin: 5px 0;
      }
    }

    .columnBody {
      width: 100%;
      height: 88%;
    }

    .bigLoading {
      width: 100%;
      height: 88%;
      background-position-x: center;
      background-position-y: 45%;
    }

    .columnList {
      height: 100%;
      width: 100%;
      float: left;
      overflow-x: hidden;
      overflow-y: auto;

      background-color: $lightGray;
      -moz-box-shadow: #c8c7c7 0px 0px 5px inset;
      -webkit-box-shadow: #c8c7c7 0px 0px 5px inset;
      border: 1px solid #ccc;
    }

    .recordLi {
      padding: 5px;
      font-size: 15px;

      border-bottom: 1px solid #bbb;
      background-color: white;
      -moz-box-shadow: #c8c7c7 0px 1px 3px;
      -webkit-box-shadow: #c8c7c7 0px 1px 3px;

      &.selected {
        background-color: #ddddff;
      }

      .body {
        color: black;

        &:hover {
          text-decoration: underline;
        }
      }

      .creatorInfo {
        margin: 5px 0;

        .avatar {
          float: left;
          margin-right: 5px;
        }

        .details {
          padding-top: 2px;

          .name {
            font-size: 15px;
            margin-bottom: 2px;
          }

          .date {
            color: #999999;
            font-size: 12px;
          }
        }
      }
    }


    .candidates {
      .columnList {
        width: 48%;
      }
    }

    .rankedCandidatesLists {
      width: 48%;
      height: 100%;
      float: right;

      .columnList {
        width: 100%;
        height: 46%;
      }

      .dragTargetExplanation {
        margin-top: 60px;
        text-align: center;
      }

      .separator {
        width: 100%;
        height: 8%;
        clear: both;
        text-align: center;
        cursor: default;

        .up {
          display: inline-block;
          background: url("/images/arrow_up_black.png");
          background-repeat: no-repeat;
          padding: 5px 10px;
          padding-left: 20px
        }

        .down {
          display: inline-block;
          background: url("/images/arrow_down_black.png");
          background-repeat: no-repeat;
          background-position: right;
          padding: 5px 10px;
          padding-right: 20px
        }
      }
    }

    .candidate, .comment, .election {
      @extend .recordLi;
    }

    .electionsList {
      @extend .columnList;
      width: 100%;
      height: 100%;
    }
  }
}