#app {
  #columns {
    height: 100%;
    overflow: hidden;

    @include noSelect;
    background-color: #eee;

    .column {
      height: 100%;
      float: left;
      padding: 0 2%;
      margin-right: 0.5%;

      background-color: white;
      -moz-box-shadow: #c8c7c7 0px 1px 3px;
      -webkit-box-shadow: #c8c7c7 0px 1px 3px;
      border: 1px solid #ddd;

      &.last {
        margin-right: 0;
        border-right: none;
        float: right;
      }
    }

    .columnView {

      .columnHeader {
        width: 100%;
        height: 8%;

        h2 {
          margin: 5px 0;
        }
      }

      .columnBody {
        width: 100%;
        height: 88%;

        .columnList {
          float: left;
          overflow-x: hidden;
          overflow-y: auto;

          background-color: $lightGray;
          -moz-box-shadow: #c8c7c7 0px 0px 5px inset;
          -webkit-box-shadow: #c8c7c7 0px 0px 5px inset;
          border: 1px solid #ddd;
        }
      }
    }

    .recordLi {
      padding: 5px;
      font-size: 15px;

      border-bottom: 1px solid #ddd;
      background-color: white;
      -moz-box-shadow: #c8c7c7 0px 1px 3px;
      -webkit-box-shadow: #c8c7c7 0px 1px 3px;

      .body:hover {
        text-decoration: underline;
      }

      &.selected {

      }

      .body {
        cursor: pointer;
      }

      .creatorInfo {
        margin: 5px 0;

        .avatar {
          float: left;
          margin-right: 5px;
        }

        .details {
          padding-top: 2px;

          .name {
            font-size: 15px;
            margin-bottom: 2px;
          }

          .date {
            color: #999999;
            font-size: 12px;
          }
        }
      }
    }
  }
}


#app {
  #columns {

    .candidates {
      @extend .columnView;

      .candidatesList {
        @extend .columnList;
        width: 49%;
        height: 100%;
      }

      .rankedCandidatesList {
        width: 49%;
        height: 100%;
        float: right;

        .goodCandidatesList, .badCandidatesList {
          @extend .columnList;
          width: 100%;
          height: 46%;
        }

        .dragTargetExplanation {
          margin-top: 60px;
          text-align: center;
        }

        .separator {
          width: 100%;
          height: 8%;
          clear: both;
          text-align: center;
          cursor: default;

          .up {
            display: inline-block;
            background: url("/images/arrow_up_black.png");
            background-repeat: no-repeat;
            padding: 5px 20px;
          }

          .down {
            display: inline-block;
            background: url("/images/arrow_down_black.png");
            background-repeat: no-repeat;
            background-position: right;
            padding: 5px 20px;
          }
        }
      }

      .candidate {
        @extend .recordLi;
      }
    }
  }
}


#app {
  #columns {

    .elections {
      @extend .columnView;

      .electionsList {
        @extend .columnList;
        width: 100%;
        height: 100%;
      }

      .election {
        @extend .recordLi;
      }
    }
  }
}


#app {
  #columns {

    .comments {
      @extend .columnView;

      .commentsList {
        @extend .columnList;
        width: 100%;
        height: 100%;
      }

      .comment {
        @extend .recordLi;
      }
    }
  }
}