#application {
  @include noSelect;
  overflow: hidden;
}


#header {
  width: 96%;
  margin: 0 auto;
  height: 30px;
  min-width:  $minWidth;

  > a {
    display: inline-block;
    float: right;
    margin: 5px 10x;
    padding: 5px 10px;
    @include borderRadius(3px);
    background-color: #efefef;
  }

  > .dropdownLink {
    display: inline-block;
    padding-right: 20px;
    background-image: url(/images/expand_arrow_blue.png);
    background-position: right;
    background-repeat: no-repeat;
  }

  > #logo {
    float: left;
    margin: 5px;
    cursor: pointer;
  }
}


#main {
  width: 96%;
  margin: 0 auto;
  min-width: $minWidth;
  overflow: hidden;
  @include borderRadiusTop(6px);
  @include dropShadow(6px, 0.4);
}

#nav {
  height: 45px;
  width: 100%;
  overflow: hidden;
  @include gradient($darkGray, 10%);
  border-bottom: solid 5px lighten(lighten($darkGray, 3%), 6%);
  color: white;

  > div {
    margin: 5px 30px;
    margin-bottom: 0;
  }

  h2 {
    display: inline-block;
    font-size: 24px;
    margin-right: 24px;
    letter-spacing: 1.2;
    cursor: pointer;
  }

  a {
    display: inline-block;
    z-index: 30;
    padding: 5px 12px;
    color: white;
    font-size: 18px;

    &.active {
      padding-bottom: 20px;
      @include borderRadiusTop(4px);
      @include dropShadow(4px);
      background-color: lighten(lighten($darkGray, 3%), 6%);
    }

    &.right {
      float: right;
      padding-left: 20px;
      background-repeat: no-repeat;
      background-position: 3px;
    }

    &#backToLastOrganization {
      background-image: url(/images/undo_12x12_light.png);
    }
  }
}

#content {
  overflow: hidden;
  background: white;
}


.dropdownMenu {
  position: absolute;
  z-index: 100;

  background-color: #efefef;
  border: 1px solid #cccccc;
  border-top: none;
  display: none;
  width: auto;
  -moz-box-shadow: rgba(0, 0, 0, .5) 0px 4px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, .5) 0px 4px 4px;
  white-space: nowrap;
  padding: 2px;

  a {
    opacity: 1;
    background-color: white;
    position: relative;
    z-index: 20;
    padding: 2px 4px;
    display: block;
    margin-bottom: 2px;
    &:hover { background: #fff3c7; }
  }

  li:last-child a {
    margin-bottom: 0;
  }
}

#darkenBackground {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 99;
}

#feedback {
  position: absolute;
  background: white;
  height: 300px;
  width: 600px;
  z-index: 100;
  padding: 10px;

  #thanks { margin-bottom: 10px; }

  textarea {
    width: 100%;
    height: 185px;
    padding: 10px;
    margin-bottom: 10px;
    resize: none;
  }

  a.roundedButton {
    float: right;
  }
}

#mustBeMemberMessage {
  h1 {
    margin-bottom: 10px;
  }
}
