#app {
  #tree {
    padding: 0;
    margin: 0;
    clear: both;
    overflow-y: hidden;

    .column {
      display: inline-block;
      height: 100%;
      width: 45%;

      border: 1px solid black; 
    }
  }
}